/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
}
/* nev related style here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
}
#nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin: 0px 200px;

}
#only{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 64px;
    padding: 18px 36 px;
}
.orange-color{
  color: #FD6E0A; 
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}
header{
    background-color: #FFF8F3;
    
}